body {
    background-color: aqua;
}

.tiles {
    margin: 105px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile {
    height: 100px;
    background-color: red;
    border: 5px solid black;
    cursor: pointer;
}

#h-1 {
    font-size: 60px;
}